<!-- Menü İşlemleri -->
<div class="px-4 mb-4"> 
    <h1 class="h5 fw-semibold">Menü İşlemleri</h1>

    <div class="fw-medium text-primary d-flex justify-content-between">
        <a href="#" class="text-decoration-none">Kategorileri Düzenle</a>
        <a href="#" class="text-decoration-none">Ürünleri Düzenle</a>

    </div>
</div>

<!-- İşletme Bilgileri -->
<div class="px-4">
    <h1 class="h5 fw-semibold">İşletme Bilgileri</h1>
     
    <div class="mt-3">
        <label for="bussiness_name" class="form-label d-flex align-items-center justify-content-between fw-medium">
            İşletme Adı
            <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> Örn: Coffe House</small></span>
        </label>
        <input type="text" class="form-control" id="bussiness_name" name="bussiness_name">
    </div>

    <div class="mt-4">
        <label for="business_adress" class="form-label d-flex align-items-center justify-content-between fw-medium">
            İşletme Adresi
            <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> İşletmeni adresini kısaca giriniz</small></span>
        </label>
        <textarea class="form-control" id="business_adress" name="business_adress" rows="3"></textarea>
    </div>

    <div class="mt-4">
        <label for="business_tel" class="form-label d-flex align-items-center justify-content-between fw-medium">
            Telefon Numarası
            <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> Örn: 05326245648</small></span>
        </label>
        <input type="number" class="form-control" id="business_tel" name="business_tel">
    </div>

    <div class="mt-4 row">
        <div class="col-3">
            <label for="business_open" class="form-label fw-medium">
                Açılış
            </label>
            <input type="number" class="form-control" id="business_open" name="business_open">
        </div>

        <div class="col-3">
            <label for="business_close" class="form-label fw-medium">
                Kapanış
            </label>
            <input type="number" class="form-control" id="business_close" name="business_close">
        </div>

        <div class="col-6">
            <span class="text-secondary"><small><i class="fa-solid fa-circle-exclamation"></i> SS:DD formatında giriniz</small></span>
        </div>
    </div>

    <div class="mt-4">
        <label for="business_ig" class="form-label d-flex align-items-center justify-content-between fw-medium">
            Instagram
        </label>
        <input type="number" class="form-control" id="business_ig" name="business_ig" placeholder="https://instagram/kullanıcıadı">
    </div>

</div>

<!-- Logo ve Arka Plan -->
<div class="d-flex align-items-center justify-content-between px-4 mt-4">
    <div>
        <h1 class="h5 fw-medium">Logo</h1>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img src="/img/placeholder.webp" class="img-fluid" alt="Mekan logosu" style="height: 8.8rem; width: 9.75rem;">
            <a href="#" class="text-decoration-none">Değiştir <i class="fa-regular fa-pen-to-square"></i></a>
        </div>
    </div>

    <div>
        <h1 class="h5 fw-medium">Arka Plan</h1>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <img src="/img/placeholder.webp" class="img-fluid" alt="Mekan arka plan resmi" style="height: 8.8rem; width: 9.75rem;">
            <a href="#" class="text-decoration-none">Değiştir <i class="fa-regular fa-pen-to-square"></i></a>
        </div>
    </div>

    
</div>

<!-- Buttonlar -->
<div class="row align-items-center justify-content-evenly px-4 my-4">
    <a href="#" class="col-3 btn btn-secondary px-4 py-3"><i class="fa-solid fa-x"></i></a>
    <button type="submit" class="col-8 btn btn-secondary px-4 py-3 fw-medium">Değişiklikleri Kaydet</button>
</div>
