<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: "Kategori Düzenle"}) %>
    
</head>
<body>
    
    <div class="w-100 px-4 mt-2">
        <a href="/admin/categories" class="text-dark"><i class="fa-solid fa-chevron-left"></i></a>
    </div>
    
    <div class="d-flex align-items-center justify-content-between px-4 mt-3">
        <h1 class="h5">Edit</h1>

        <!-- Button trigger modal -->
        <button type="button" class="btn fw-medium text-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <small>Ürünü Sil</small>
        </button>
    </div> 

    <form action="/admin/category/delete/<%= category.categoryid %>" method="post">

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Silmek istediğinize emin misiniz?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary rounded-1" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-danger rounded-1">Ürünü Sil</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form method="post">
        <input type="hidden" name="category_id" value="<%= category.categoryid %>">

        <div class="mt-4 px-4">
            <label for="category_name" class="form-label d-flex align-items-center justify-content-between fw-medium">
                Kategori Adı
                <span class="text-secondary fw-normal"><small><i class="fa-solid fa-circle-exclamation"></i> Örn: Hamburgerler</small></span>
            </label>
            <input type="text" class="form-control" id="category_name" name="category_name" value="<%= category.category_name %>">
        </div>
        
        
        <!-- Buttonlar -->
        <div class="row align-items-center justify-content-evenly px-4 my-4">
            <a href="/admin/categories" class="col-3 btn btn-secondary px-4 py-3"><i class="fa-solid fa-x"></i></a>
            <button type="submit" class="col-8 btn btn-secondary px-4 py-3 fw-medium">Değişiklikleri Kaydet</button>
        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
        })
    </script>
</body>
</html> 