<div class="w-100 px-4 mt-2">
    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="d-flex align-items-center justify-content-between px-4 mt-3">
    <h1 class="h5">Ürünler</h1>

    <a href="#" class="text-decoration-none fw-medium"><small>Ürün Ekle <i class="fa-solid fa-plus"></i></small></a>

</div>

<!-- Ürün Card -->
<div class="px-4 mt-3">
    <span class="d-flex align-items-center justify-content -between border-bottom">
        <p>Hamburger</p>
        <a href="#" class="fw-medium text-decoration-none text-dark"><small><i class="fa-solid fa-chevron-right"></i></small></a>
    </span>
</div>