<img src="/img/giris_illustration.svg" class="mx-auto d-block mt-5" alt="giris resmi">

<form class="px-4" action="#" method="POST">

    <div class="mb-3">
      <label for="username" class="form-label">Kullanıcı Adı</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="admin" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Şifre</label>
      <input type="password" class="form-control" id="password" placeholder="*******" required>
    </div>

    <button type="submit" class="btn w-100 btn-secondary py-3 fw-medium">Giriş Yap</button>
</form>