<div class="d-flex align-items-center justify-content-between me-4">
    <img src="/img/placeholder.webp" alt="İçerik resmi" style="width: 4rem; height: 3.5rem;">

    <div id="content">
        <h4 class="h6 m-0">Klasik Hamburger</h4>
        <p class="text-secondary">100 gram dana eti, turşu, domates , marul soğan ve özel sos.</p>
    </div>

    <p class="fw-bold">56TL</p>
</div>