<div class="d-flex align-items-center justify-content-between">
    <img src="/img/placeholder.webp" alt="İçerik resmi" style="width: 4rem; height: 3.5rem;">

    <div id="content" class="d-flex flex-column justify-content-between ms-2 overflow-y-scroll" style="height: 3.5rem;">
        <h4 class="h6 m-0"><small>Klasik Hamburger</small></h4>
        <p class="text-secondary lh-1"><small>100 gram dana eti, turşuasfasfasfsafasfsafasfasf, domates , marul soğan ve özel sos.</small></p>
    </div>

    <p class="fw-bold">56TL</p>
</div>