<div class="ms-4 me-3 mt-3">
    <h2 class="h3">Kategoriler</h2>
    <div class="d-flex text-nowrap align-items-center gap-3 overflow-x-scroll" style="height: 10vh;">
        <a href="#" class="btn btn-dark rounded-5">Hamburger</a>
        <a href="#" class="text-decoration-none text-dark">Salata Çeşitleri</a>
        <a href="#" class="text-decoration-none text-dark">Tatlı</a>
        <a href="#" class="text-decoration-none text-dark">Sıcak İçecek</a>
        <a href="#" class="text-decoration-none text-dark">Spesiyaller</a>
    </div>
</div>