<div id="place_img" class="position-relative">
    <div class="position-absolute">
      <div class="d-flex justify-content-between align-items-center px-4" style="height: 8vh; width: 100vw;">
        <a href="#"><i class="fa-brands fa-instagram text-white fs-5"></i></a>
        
        <div class="d-flex flex-column align-items-center mt-5">
            <img src="/img/placeholder.webp" alt="logo" class="rounded-circle border border-3 border-light mt-5" style="height: 3.5rem; width: 3.5rem;">
            <h1 class="text-white fw-medium fs-5 mt-3">Coffe House</h1>
        </div>
          
        <a href="#"><i class="fa-solid fa-globe text-white fs-5"></i></a>
     

      </div>

      <div style="width: 100vw; height: 25vh;" class="d-flex flex-column align-items-start justify-content-end text-secondary">
       
        <div class="d-flex px-4">
            <div class="icons d-flex flex-column gap-2">
                <small><i class="fa-solid fa-clock"></i></small>
                <small><i class="fa-solid fa-location-dot"></i></small>
                <small><i class="fa-solid fa-phone"></i></small>
            </div>

            <div class="contens d-flex flex-column gap-2 ms-3">
                <small>09:00 - 24:00</small>
                <small>Saliha Sokak, No:147, Kadıköy / İstanbul</small>
                <small>0532 654 7624</small>
            </div>
        </div>      


      </div>
    </div>
</div>