<div id="place_img" class="position-relative">
    <div class="position-absolute">
      <div class="d-flex justify-content-between align-items-center" style="height: 10vh; width: 100vw;">
          <i class="text-white start-0">instagram</i>

          <img src="/img/placeholder.webp" alt="logo" class="rounded-circle border border-3 border-light mt-4" style="height: 56px; width: 56px;">
          
          <i class="text-white end-0">website</i>

      </div>

      <div style="width: 100vw; height: 20vh;" class="d-flex flex-column align-items-start justify-content-end text-secondary">
          <h1 class="align-self-center text-white">Coffe House</h1>
          <span class="fs-6"><i>saat</i> 09:00 - 24:00</span>
          <span class="fs-6"><i>konum</i> Saliha Sokak, No:147, Kadıkçy / İstanbul</span>
          <span class="fs-6"><i>telefon</i> 0532 654 7624</span>
      </div>
    </div>
</div>